<h1>Project Managment System</h1>

<h2>Top 5 Projects</h2>
<%= render "project_table", projects: @top_projects %>

<h2>Bottom 5 Projects</h2>
<%= render "project_table", projects: @bottom_projects %>

<%= line_chart @monthly_timelogs, title: 'Current Month Time_logs', colors: ['green']
%>
<%= line_chart @monthly_payments, title: 'Current Month Payments', colors: ['green']
%>
