<div class="nested-fields">
  <% if f.object.file? %>
    <%= image_tag (f.object.file.url(:thumb)) %>
  <% else %>
    <%= f.file_field :file %>
  <% end %>
  <%= link_to_remove_association 'Remove file', f %>
</div>
