.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.navbar {
  min-height: 150px;
  font-size: 16px;
  color: #FFFFFF;
}

.navbar-inverse {
  min-height: 100px;
  font-size: 16px;
  color: #FFFFFF;
}

.navbar-right {
  margin-top: 10px;
  margin-right: 70px;
 }

.navbar-brand {
  padding-top: 40px;
}

header {
  padding-top: 10px;
}

body {
  font-size: 16px;
}

#select2{
  width :200px
}
