.navbar {
  min-height: 150px;
  color: white;
}

.navbar-inverse {
  min-height: 100px;
  font-size: 17px;
}

.navbar-right {
  margin-top: 10px;
  margin-right: 70px;
 }

.navbar-inverse .navbar-brand {
  padding-top: 40px;
  color: white;
}

header {
  padding-top: 10px;
}

.profile-img {
  width: 90px;
  height: 80px;
}
